body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border-style: dotted none none;
  border-color: #EAF6F6;
  border-width: 6px;
  width: 4%;
  margin: 100px auto;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  margin: 50px;
  font-family: sans-serif;
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  color: #40514E;
}

.top-container {
  position: relative;
  background-color: #E4F9F5;
  padding-top: 100px;
}

.top-cloud {
  display: block;
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.pro {
  text-decoration: underline;
}

.middle-container {
  margin: 80px 0;
}

.intro {
  width: 30%;
  margin: auto;
  line-height: 2;
}

.avatar-image {
  background-color: red;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.code-image {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.go-image {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  padding: 50px 0 25px;
  background-color: #66BFBF;
}

.contact-button {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 900;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contact-button:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.copyright {
  margin: 30px;
  color: #EAF6F6;
  font-size: 0.75rem;
}
